.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.columnContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex-grow: 1;
  margin-right: 20px;
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 10px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.task {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .columnContainer {
    flex-direction: column;
  }

  .column {
    margin-right: 0;
    margin-bottom: 20px;
  }
}