.App {
    background-image: url("./images/gradient.png");
    color: black;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
